.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}